@charset "UTF-8";
/* Importo de google font una tipografia para utilizar */
@import url("https://fonts.googleapis.com/css2?family=Inspiration&display=swap");
/* variables para colores*/
/* variables para fonts */
/*bucle de repetición con la clase/selector "casitodos-1 -2 y -3 */
.casitodos-1 {
  width: 6em;
}

.casitodos-2 {
  width: 12em;
}

.casitodos-3 {
  width: 18em;
}

.bucle-1 {
  background-color: #408cfd;
  border: 1px solid white;
  text-decoration: none;
}

.bucle-2 {
  background-color: #72aafe;
  border: 1px solid white;
  text-decoration: none;
}

.bucle-3 {
  background-color: #a5c9fe;
  border: 1px solid white;
  text-decoration: none;
}

.bucle-4 {
  background-color: #d7e7ff;
  border: 1px solid white;
  text-decoration: none;
}

.bucle-5 {
  background-color: white;
  border: 1px solid white;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
}

.header__iconos {
  background-color: #ffffff;
  width: 100%;
  display: flex;
  height: 65px;
}

.header__div--logodis {
  margin-left: auto;
  margin-right: auto;
}

.header__div--logovegas {
  margin-left: auto;
  margin-right: auto;
  transform: scale(0.7);
}

.navegador__lista {
  width: 100%;
  height: 40px;
  background: linear-gradient(40deg, #1cb5e0 0%, #000851 100%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0px;
  padding: 10px;
  padding-top: 20px;
}

li {
  font-family: sans-serif;
  list-style: none;
}

li a {
  color: #ffffff;
  text-decoration: none;
}

li a:hover {
  color: rgba(170, 176, 245, 0.633);
  outline: none;
}

.carousel-control-next {
  height: auto;
}

.embed-container {
  display: flex;
  justify-content: center !important;
  flex-wrap: wrap;
}

.embed-container iframe {
  width: 100%;
  margin-top: 50px;
  padding: 0 100px 0;
}

/* defino la estructura de la galeria de imágenes con grid, o sea la cantidad de columnas y de filas*/
.galeria {
  /* width: 100%; */
  /* padding-top: 30px; */
  /* background-color: #89c1ebcd; */
  background-image: url(../Images/blob-scene-haikei.svg);
  background-size: cover;
  padding-top: 50px;
  padding-bottom: 100px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin-top: 100px;
  margin-bottom: 0px;
}

.galeriaimagen1 {
  grid-column: 1/2;
  grid-row: 1/3;
  background-image: url("../Images/drive-download-20220127T020044Z-001/png-transparent-minnie-mouse-minnie-mouse-mickey-mouse-the-walt-disney-company-baby-minnie-mouse-3d-computer-graphics-color-sticker-thumbnail copia.png");
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: top;
}

/* .galeriaimagen2{
    grid-column: 2/3;
    grid-row: 1/2;
    background-image: url("../Images/drive-download-20220127T020044Z-001/png-transparent-moana-the-walt-disney-company-moana-disney-moana-illustration-miscellaneous-disney-princess-film-thumbnail\ copia.png");
    background-repeat: no-repeat;
    background-size: 45%;  
    background-position: center;
} */
.galeriaimagen3 {
  grid-column: 3/4;
  grid-row: 1/2;
  background-image: url("../Images/drive-download-20220127T020044Z-001/png-transparent-mickey-mouse-desktop-cartoon-the-walt-disney-company-mickey-heroes-toy-technology-thumbnail copia.png");
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: left;
}

.galeriaimagen4 {
  grid-column: 4/5;
  grid-row: 1/3;
  background-image: url("../Images/png-transparent-moana-the-walt-disney-company-moana-disney-moana-illustration-miscellaneous-disney-princess-film-thumbnail copia.png");
  /* transform: scale(1.25); */
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
}

.galeriaimagen5 {
  grid-column: 2/3;
  grid-row: 2/3;
  background-image: url("../Images/png-transparent-mr-potato-head-illustration-mr-potato-head-mrs-potato-head-lelulugu-toy-the-walt-disney-company-isabel-child-hand-cartoon-thumbnail copia.png");
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: right;
  margin-top: 10px;
  padding-right: 120px;
}

.galeriaimagen6 {
  height: 350px;
  width: 350px;
  padding-top: 50px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.footer__iconos {
  background-color: #0d6dfd;
  /* display: flex; */
  align-items: left;
  padding-top: 20px;
  /* margin-top: 100px;    */
  padding-bottom: 50px;
}

h3 {
  padding-left: 0px !important;
  padding-bottom: 0px !important;
}

.footer__h3 {
  font-size: 40px;
  font-family: "inspiration" !important;
  padding-left: 20px;
  color: white;
}

.redesSociales {
  padding-left: 10px;
}

.logofacebook {
  transform: scale(0.5);
}

.logoInsta {
  transform: scale(0.5);
}

.logoyoutube {
  transform: scale(0.5);
}

.HeroMapa {
  width: 100%;
  height: 680px;
  background-image: url(https://images.unsplash.com/photo-1618945372420-2470ece5277c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.cinta-mapas {
  text-align: left;
  color: #ffffff;
  background: linear-gradient(130deg, #e496bb 0%, #000851 100%);
  font-family: sans-serif;
  text-shadow: #424242;
  margin-top: 100px !important;
  padding-top: 50px;
  padding-left: 10%;
  padding-right: 10%;
  height: 200px;
}

p {
  font-size: 19px;
}

.seccionMapas__final {
  color: #5b5db1;
  background-color: #c7e1f78e;
  font-family: sans-serif;
  padding-top: 20px;
  padding-left: 169px;
  padding-bottom: 10px;
  margin-bottom: 50px;
}

.container-mapas {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mapaDisney {
  transform: scale(0.7);
}

.mapaUniversal {
  transform: scale(0.7);
  margin-bottom: 50px;
}

.mapas__h2 {
  text-align: left;
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: sans-serif;
}

.sectionAtracciones {
  width: 100%;
  height: 600px;
  background-image: url(https://images.unsplash.com/photo-1581909199603-0de32b43ffd2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2970&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.jumbotron {
  background-position-x: center;
  color: #ffffff !important;
}

h4 {
  margin-top: 60px;
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

.table {
  width: 90%;
  margin-top: 4em;
  margin-bottom: 10em;
  margin-left: 3.5em;
  color: #088cf2;
  box-shadow: 20px 20px 50px grey;
  border-radius: 10px;
}

/* .container-tabla{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
 } */
/* 
.h2__atracciones--parques{
    margin-top: 150px;
    text-align: center;
    font-family: sans-serif;
    font-size: 40px;
} */
/* .tabla__estilo {
    background-color: #ffffff8e;
    width: 70%;
    align-items: center;
    font-family: sans-serif;
    border: 5px solid #800080;
    margin:40px 0px;
} */
/* .titulo{
    text-align: left;
    border-bottom: 3px solid #800080;
} */
.h3__videosAtracciones {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: sans-serif;
  font-size: 30px;
}

.videoatracciones {
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 100px;
  padding-bottom: 50px;
}

.video {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.sectionAlojamiento {
  width: 100%;
  display: flex;
  justify-items: center;
}

.section__hotel {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.section__InfUtil {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-image: url(../Images/Circulosfondo.svg);
  background-position: center;
  /* background-size: cover; */
}

/* .cuadrohoteles{
    background-color: rgb(245, 243, 240);
    opacity: 0.6;
    padding: 20px;
    margin: 30px;
    border-radius: 10%;
    box-shadow: 6px 5px 5px rgb(10, 10, 10);
} */
/* .h2__Hotel{
    font-family: sans-serif;
    font-size: 25px;
    font-weight:bold;
} */
/* .card-body{
    padding-top:18px !important;
} */
.Lista__item {
  list-style-type: disc;
  padding-top: 5px;
  color: rgba(55, 54, 54, 0.411);
}

h7 {
  color: rgba(55, 54, 54, 0.496);
}

h7:hover {
  color: rgba(41, 148, 235, 0.674);
}

.card {
  margin: 50px;
  width: 20em;
  height: auto;
  background: linear-gradient(130deg, #1cb5e0 0%, #000851 100%);
  color: white;
  font-size: 20px;
  border-radius: 10px;
  text-align: left;
  box-shadow: 20px 20px 30px #949696;
  border: 0px solid white;
  margin-bottom: 150px;
  margin-top: 150px;
}

.card1 {
  margin-top: 100px;
  background: linear-gradient(130deg, #ea73ab 0%, #000851 100%);
}

.card:hover {
  transform: scale(1.01);
}

.card-body {
  font-size: 16px !important;
  background-color: white;
  color: #1384bd;
  text-align: left;
  padding-top: 1.5rem;
  padding-right: 0.5rem;
  padding-left: 1rem;
}

.violeta {
  color: #310348;
}

.lista__Hoteles {
  color: #070707;
  font-size: 50px;
  padding-top: 20px;
  padding-bottom: 30px;
}

.imagen__container {
  display: flex;
  justify-content: center;
  width: 1200px;
  margin-top: -200px;
  margin-bottom: -100px;
}

.imagen__container1 {
  display: flex;
  justify-content: center;
  width: auto;
  margin-top: -200px;
  margin-bottom: -100px;
}

.imgvegas {
  transform: scale(0.7);
  justify-items: center;
}

.container__contactos {
  display: flex;
  flex-wrap: wrap;
}

.bodycontactos {
  background-color: #cee3d8;
}

form {
  width: 700px;
  margin: 60px;
  margin-right: 10%;
  margin-left: 10%;
  background-color: #fff;
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 20px;
  padding-bottom: 30px;
  color: #1b1b1b;
  border-radius: 8px;
  box-shadow: 20px 20px 50px grey;
}

.field {
  border: solid 1px #999;
  padding-top: 20px;
  margin-left: 20px;
  width: 280px;
}

.label {
  margin-left: 20px;
}

.formespacios {
  margin-top: 10px;
}

.btn {
  display: inline;
  margin: 0% 15px;
  width: 80px;
}

.form-group {
  padding-top: 10px;
  padding: 0 15px;
  margin-bottom: 20px;
}

.hombrepapa {
  margin-top: 20%;
  margin-left: 20%;
  margin-bottom: 20%;
  margin-right: 10%;
}

/* ------ Media Queries ----- */
@media only screen and (max-width: 1200px) {
  .galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .galeriaimagen1 {
    grid-column: 1/2;
    grid-row: 1/3;
    background-image: url("../Images/drive-download-20220127T020044Z-001/png-transparent-minnie-mouse-minnie-mouse-mickey-mouse-the-walt-disney-company-baby-minnie-mouse-3d-computer-graphics-color-sticker-thumbnail copia.png");
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center;
  }

  .galeriaimagen2 {
    grid-column: 2/3;
    grid-row: 1/3;
    background-image: url("../Images/png-transparent-moana-the-walt-disney-company-moana-disney-moana-illustration-miscellaneous-disney-princess-film-thumbnail copia.png");
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
  }

  .galeriaimagen3 {
    grid-column: 3/4;
    grid-row: 1/3;
    background-image: url("../Images/drive-download-20220127T020044Z-001/png-transparent-tangles-illustration-tangled-the-video-game-rapunzel-flynn-rider-the-walt-disney-company-tangled-disney-princess-cartoon-fictional-character-thumbnail copia.png");
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
  }

  .galeriaimagen4 {
    grid-column: 1/2;
    grid-row: 3/4;
    background-image: url("../Images/png-transparent-mr-potato-head-illustration-mr-potato-head-mrs-potato-head-lelulugu-toy-the-walt-disney-company-isabel-child-hand-cartoon-thumbnail copia.png");
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
  }

  .galeriaimagen5 {
    grid-column: 2/3;
    grid-row: 3/4;
    background-image: url("../Images/drive-download-20220127T020044Z-001/png-transparent-mickey-mouse-desktop-cartoon-the-walt-disney-company-mickey-heroes-toy-technology-thumbnail copia.png");
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
  }

  .galeriaimagen6 {
    grid-column: 3/4;
    grid-row: 3/4;
    background-image: url("../Images/drive-download-20220127T020044Z-001/png-transparent-beauty-and-the-beast-dancing-belle-beauty-and-the-beast-the-walt-disney-company-disney-princess-belle-carnivoran-fictional-character-film-thumbnail copia.png");
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: center;
  }
}
@media only screen and (max-width: 768px) {
  .galeria {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .galeriaimagen1 {
    grid-column: 1/2;
    grid-row: 1/2;
    background-image: url("../Images/drive-download-20220127T020044Z-001/png-transparent-minnie-mouse-minnie-mouse-mickey-mouse-the-walt-disney-company-baby-minnie-mouse-3d-computer-graphics-color-sticker-thumbnail copia.png");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
  }

  .galeriaimagen2 {
    grid-column: 2/3;
    grid-row: 1/2;
    background-image: url("../Images/png-transparent-moana-the-walt-disney-company-moana-disney-moana-illustration-miscellaneous-disney-princess-film-thumbnail copia.png");
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: center;
  }

  .galeriaimagen3 {
    grid-column: 1/2;
    grid-row: 2/3;
    background-image: url("../Images/drive-download-20220127T020044Z-001/png-transparent-tangles-illustration-tangled-the-video-game-rapunzel-flynn-rider-the-walt-disney-company-tangled-disney-princess-cartoon-fictional-character-thumbnail copia.png");
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
  }

  .galeriaimagen4 {
    grid-column: 2/3;
    grid-row: 2/3;
    background-image: url("../Images/png-transparent-mr-potato-head-illustration-mr-potato-head-mrs-potato-head-lelulugu-toy-the-walt-disney-company-isabel-child-hand-cartoon-thumbnail copia.png");
    /* transform: scale(1.25); */
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
  }

  .galeriaimagen5 {
    grid-column: 1/2;
    grid-row: 3/4;
    background-image: url("../Images/drive-download-20220127T020044Z-001/png-transparent-mickey-mouse-desktop-cartoon-the-walt-disney-company-mickey-heroes-toy-technology-thumbnail copia.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
  }

  .galeriaimagen6 {
    grid-column: 2/3;
    grid-row: 3/4;
    background-image: url("../Images/drive-download-20220127T020044Z-001/png-transparent-beauty-and-the-beast-dancing-belle-beauty-and-the-beast-the-walt-disney-company-disney-princess-belle-carnivoran-fictional-character-film-thumbnail copia.png");
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center;
  }
}
@media only screen and (max-width: 576) {
  .galeria {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(7, 1fr);
  }

  .galeriaimagen1 {
    grid-column: 1/2;
    grid-row: 1/2;
    background-image: url("../Images/drive-download-20220127T020044Z-001/png-transparent-minnie-mouse-minnie-mouse-mickey-mouse-the-walt-disney-company-baby-minnie-mouse-3d-computer-graphics-color-sticker-thumbnail copia.png");
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: center;
  }

  .galeriaimagen2 {
    grid-column: 1/2;
    grid-row: 2/3;
    background-image: url("../Images/drive-download-20220127T020044Z-001/png-transparent-moana-the-walt-disney-company-moana-disney-moana-illustration-miscellaneous-disney-princess-film-thumbnail copia.png");
    background-repeat: no-repeat;
    background-size: 35%;
    background-position: center;
  }

  .galeriaimagen3 {
    grid-column: 1/2;
    grid-row: 3/4;
    background-image: url("../Images/drive-download-20220127T020044Z-001/png-transparent-tangles-illustration-tangled-the-video-game-rapunzel-flynn-rider-the-walt-disney-company-tangled-disney-princess-cartoon-fictional-character-thumbnail copia.png");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
  }

  .galeriaimagen4 {
    grid-column: 1/2;
    grid-row: 4/5;
    background-image: url("../Images/drive-download-20220127T020044Z-001/png-transparent-mr-potato-head-illustration-mr-potato-head-mrs-potato-head-lelulugu-toy-the-walt-disney-company-isabel-child-hand-cartoon-thumbnail copia.png");
    /* transform: scale(1.25); */
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
  }

  .galeriaimagen5 {
    grid-column: 1/2;
    grid-row: 5/6;
    background-image: url("../Images/drive-download-20220127T020044Z-001/png-transparent-mickey-mouse-desktop-cartoon-the-walt-disney-company-mickey-heroes-toy-technology-thumbnail copia.png");
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center;
  }

  .galeriaimagen6 {
    grid-column: 1/2;
    grid-row: 6/7;
    background-image: url("../Images/drive-download-20220127T020044Z-001/png-transparent-beauty-and-the-beast-dancing-belle-beauty-and-the-beast-the-walt-disney-company-disney-princess-belle-carnivoran-fictional-character-film-thumbnail copia.png");
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
  }
}
@media only screen and (min-width: 1024) {
  .galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .galeriaimagen1 {
    grid-column: 1/2;
    grid-row: 1/2;
    background-image: url("../Images/drive-download-20220127T020044Z-001/png-transparent-minnie-mouse-minnie-mouse-mickey-mouse-the-walt-disney-company-baby-minnie-mouse-3d-computer-graphics-color-sticker-thumbnail copia.png");
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: center;
  }

  .galeriaimagen2 {
    grid-column: 2/3;
    grid-row: 1/2;
    background-image: url("../Images/drive-download-20220127T020044Z-001/png-transparent-moana-the-walt-disney-company-moana-disney-moana-illustration-miscellaneous-disney-princess-film-thumbnail copia.png");
    background-repeat: no-repeat;
    background-size: 35%;
    background-position: center;
  }

  .galeriaimagen3 {
    grid-column: 3/4;
    grid-row: 1/2;
    background-image: url("../Images/drive-download-20220127T020044Z-001/png-transparent-tangles-illustration-tangled-the-video-game-rapunzel-flynn-rider-the-walt-disney-company-tangled-disney-princess-cartoon-fictional-character-thumbnail copia.png");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
  }

  .galeriaimagen4 {
    grid-column: 1/2;
    grid-row: 2/3;
    background-image: url("../Images/drive-download-20220127T020044Z-001/png-transparent-mr-potato-head-illustration-mr-potato-head-mrs-potato-head-lelulugu-toy-the-walt-disney-company-isabel-child-hand-cartoon-thumbnail copia.png");
    /* transform: scale(1.25); */
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
  }

  .galeriaimagen5 {
    grid-column: 2/3;
    grid-row: 2/3;
    background-image: url("../Images/drive-download-20220127T020044Z-001/png-transparent-mickey-mouse-desktop-cartoon-the-walt-disney-company-mickey-heroes-toy-technology-thumbnail copia.png");
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center;
  }

  .galeriaimagen6 {
    grid-column: 3/4;
    grid-row: 2/3;
    background-image: url("../Images/drive-download-20220127T020044Z-001/png-transparent-beauty-and-the-beast-dancing-belle-beauty-and-the-beast-the-walt-disney-company-disney-princess-belle-carnivoran-fictional-character-film-thumbnail copia.png");
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
  }
}
@media only screen and (max-width: 768) {
  .carousel-inner {
    width: 100% !important;
    height: 400px !important;
    margin-top: 20px;
    margin-bottom: 20px;
    /* display: flex;
    flex-wrap: nowrap; */
  }
}
@media only screen and (max-width: 425px) {
  .carousel-inner {
    width: 100% !important;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: nowrap;
  }

  .embed-container {
    height: 400px;
  }

  .embed-container iframe {
    height: 400px;
    width: 1200px;
  }
}

/*# sourceMappingURL=estilos.css.map */
